#stopwatch-box {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 8em;
    letter-spacing: 5px;
    text-align: center;
    background-color: aqua;
  }
  
  #controls {
    text-align: center;
  }
  
  button {
    background: deepskyblue;
    border: 2px solid deepskyblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
  }
  
  .btn-xlarge {
    width: 180px;
    height: 90px;
    font-size: 2em;
  }
  